# Project Plan
CDN_Project_Plan.md

# Dependencies
node_modules/
frontend/node_modules/

# Local Database & Uploaded Data
data/*.db
data/*.db-wal
data/*.db-shm
data/test_payload.txt
origin/uploads/*
!origin/uploads/.gitkeep
edge/cache_*/
!edge/cache_*/.gitkeep

# Environment variables & secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Build outputs
dist/
frontend/dist/

# IDE & System files
.DS_Store
Thumbs.db
.vscode/
.idea/
